<h1>Harga Bensin</h1>
<br>
<br>
<h5>Silahkan pilih jenis bensin yang anda inginkan:</h5>

<button type="button" class="btn btn-primary" (click)="doClick('pertamax')">Pertamax</button>
<button type="button" class="btn btn-secondary" (click)="doClick('pertalite')">Pertalite</button>
<button type="button" class="btn btn-success" (click)="doClick('pertamina dex')">Pertamina Dex</button>
<button type="button" class="btn btn-danger" (click)="doClick('dex lite')">Dex Lite</button>

<br>
<br>
<h5>Harga service: {{harga}}</h5>
<br>
<h5>Harga per Liter bensin yang anda pilih: {{hargaPerLiter}}</h5>

<div class="mb-3">
    <br>
    <label for="exampleFormControlInput1" class="form-label">Jumlah yang ingin dibeli (Liter)</label>
    <input type="number" class="form-control" [(ngModel)]="liter" name="liter" id="exampleFormControlInput1" placeholder="Jumlah dalam Liter">
</div>

<br>

<div class="mb-3">
    <label for="exampleFormControlInput1" class="form-label">Uang yang diberikan pada kasir</label>
    <input type="number" class="form-control" [(ngModel)]="uang" name="uang" id="exampleFormControlInput1" placeholder="Total uang yang dibayarkan">
</div>

<br>

<button type="button" class="btn btn-info" (click)="hitung(liter, uang)">Hitung</button>

<ng-container *ngIf="showChange === true">
    <ng-container *ngIf="kembalian>0; else warning">
        <div [ngClass]="TestClass" role="alert">
            <!-- untuk set kelas yg diinginkan desainnya -->
            <ng-container>Total transaksi anda : {{total}}</ng-container>
            <br>
            <ng-container>Kembalian dari transaksi anda : {{kembalian}}</ng-container>
            <br>
            <ng-container>Status transaksi anda : {{status}}</ng-container>
        </div>
    </ng-container>

    <ng-template #warning>
        <div [ngClass]="TestClass" role="alert">
            <ng-container>Status transaksi anda : {{status}}</ng-container>
        </div>
    </ng-template>
</ng-container>


