<div>
    <div class="container mt-5">
  
        <h2>Angular Display Data from Json File Example</h2>
        
        <table class="table table-striped">
          <thead>
              <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Username</th>
                <th>Email</th>
                <th>Phone</th>
                <th>Website</th>
                <th>Address</th>
                <th>Company BS</th>
                <th>Company Catch Phrase</th>
                <th>Company Name</th>
              </tr>
          </thead>
          <tbody>
            <tr *ngFor="let user of users">
              <td>{{ user.id }}</td>
              <td>{{ user.name }}</td>
              <td>{{ user.username }}</td>
              <td>{{ user.email }}</td>
              <td>{{ user.phone }}</td>
              <td>{{ user.website }}</td>
              <td>
                <p>{{ user.address.city }}</p>
                <p>{{ user.address.geo.lat }}, {{user.address.geo.lng}}</p>
                <p>{{ user.address.street }}</p>
                <p>{{ user.address.suite }}</p>
                <p>{{ user.address.zipcode }}</p>
            </td>
              <td>{{ user.company.bs }}</td>
              <td>{{ user.company.catchPhrase }}</td>
              <td>{{ user.company.name }}</td>
            </tr>
          </tbody>
        </table>
      </div>
</div>
