<div class="alert alert-primary" role="alert">
    <h1>Hello World!</h1>
   
    <div class="form-check">
        <input class="form-check-input" type="radio" [(ngModel)]="showData" name="flexRadioDefault" [value]="true" id="flexRadioDefault1">
        <label class="form-check-label" for="flexRadioDefault1">
          Show
        </label>
      </div>
      <div class="form-check">
        <input class="form-check-input" type="radio" [(ngModel)]="showData" name="flexRadioDefault" [value]="false" id="flexRadioDefault2" checked>
        <label class="form-check-label" for="flexRadioDefault2">
          Hidden
        </label>
    </div>

    <ng-container *ngIf="showData === true; else kesini">
        <h3>{{name}}</h3>
        <h3>{{age}}</h3>
        <h3>{{status}}</h3>
    </ng-container>

    <ng-template #kesini>
        <p>Data tidak ditampilkan (is hidden)</p>
    </ng-template>

    <ng-container [ngSwitch]="swicthValue">
        <ng-container *ngSwitchCase="1">Halo semua aku 1</ng-container>
        <ng-container *ngSwitchCase="2">Halo semua aku 2</ng-container>
        <ng-container *ngSwitchCase="3">Halo semua aku 3</ng-container>
        <ng-container *ngSwitchDefault>Default</ng-container>
    </ng-container>

</div>
    
    <app-card title="Form Add" name="" [age]="0" [status]="true" (dataCallBack)="onCallBack($event)"></app-card>
    <!-- <br> -->
    <!-- <app-card title="Halo, ini 1" name="Test" [age]="15" [status]="true" (dataCallBack)="onCallBack($event)"></app-card> -->
    <!-- <br> -->
    <!-- <app-card [title]="person.title" [name]="person.name" [age]="person.age" [status]="person.status" (dataCallBack)="onCallBack($event)"></app-card> -->
    <!-- <br> -->
    <!-- <app-card [title]="person.title" [name]="person.name" [age]="person.age" [status]="person.status" (dataCallBack)="onCallBack($event)"></app-card> -->
    
    <ng-container *ngFor="let data of personList">
        <br>
        <app-card [title]="data.title" [name]="data.name" [age]="data.age" [status]="data.status"></app-card>
        <br>
    </ng-container>
    <!-- looping data -->
    <!-- kalau dia for untuk arraylist bisa langsung kaya gini jadi data dari si personList yg di print nanti -->
