<body id="page-top">

    <!-- Page Wrapper -->
    <div id="wrapper">

        <!-- Begin Page Content -->
        <div class="container-fluid">

            <div class="card shadow mb-4" style="margin-top: 100px; margin-left: 20px; margin-right: 20px;">
                <div class="card-header py-3" style="margin-left: 15px">
                    <h3 class="m-0 font-weight-bold text-primary">List Group</h3>
                    <nav>
                        <ol class="breadcrumb">
                            <li class="breadcrumb-item"><a [routerLink]="['/admin/dashboard']">Dashboard</a></li>
                            <li class="breadcrumb-item active">List Group</li>
                        </ol>
                    </nav>
                </div>


                <section class="section dashboard">
                    <div class="row">
                        <div class="col-12" style="margin-top: 20px; margin-left: 10px">
                            <button style="margin-right: 8px; margin-bottom: 12px; margin-left: 15px;" type="button"
                                class="btn btn-primary" (click)="openModal(getGroup)">
                                Buat Group
                            </button>

                            <ng-template #getGroup>
                                <div class="modal-header">
                                    <h4 class="modal-title pull-left">Tambah Group</h4>
                                    <button type="button" class="btn-close close pull-right" aria-label="Close"
                                        (click)="modalRef.hide()">
                                        <span aria-hidden="true" class="visually-hidden">&times;</span>
                                    </button>
                                </div>

                                <div class="modal-body">
                                    <form [formGroup]="formRegisterGroup" (ngSubmit)="doAddGroup()" class="row g-3">
                                        <div class="col-md-12">
                                            <label for="inputNama" class="form-label">Nama Group</label>
                                            <input type="text" formControlName="groupName"
                                                [ngClass]="errorControl['groupName'].valid ? 'is-valid' : (errorControl['groupName'].dirty || errorControl['groupName'].touched) ? 'is-invalid' : ''"
                                                class="form-control" id="inputGrup" />
                                            <ng-container
                                                *ngIf="(errorControl['groupName'].dirty || errorControl['groupName'].touched) && errorControl['groupName'].errors">
                                                <div class="text-danger"
                                                    *ngIf="errorControl['groupName'].errors['required']">Nama grup tidak
                                                    boleh kosong.</div>
                                            </ng-container>
                                        </div>
                                        <div class="col-md-12">
                                            <label for="inputNoHP" class="form-label">Passcode</label>
                                            <input type="password" formControlName="passcode"
                                                [ngClass]="errorControl['passcode'].valid ? 'is-valid' : (errorControl['passcode'].dirty || errorControl['passcode'].touched) ? 'is-invalid' : ''"
                                                class="form-control" id="inputPasscode" />
                                            <ng-container
                                                *ngIf="(errorControl['passcode'].dirty || errorControl['passcode'].touched) && errorControl['passcode'].errors">
                                                <div class="text-danger"
                                                    *ngIf="errorControl['passcode'].errors['required']">Passcode tidak
                                                    boleh kosong dan minimal harus 8 karakter.</div>
                                            </ng-container>
                                        </div>
                                        <div class="col-md-6">
                                            <label for="inputUsername" class="form-label">Tanggal Pembuatan</label>
                                            <input type="date" formControlName="createdDate"
                                                [ngClass]="errorControl['createdDate'].valid ? 'is-valid' : (errorControl['createdDate'].dirty || errorControl['createdDate'].touched) ? 'is-invalid' : ''"
                                                class="form-control" id="inputTanggalPembuatan" />
                                            <ng-container
                                                *ngIf="(errorControl['createdDate'].dirty || errorControl['createdDate'].touched) && errorControl['createdDate'].errors">
                                                <div class="text-danger"
                                                    *ngIf="errorControl['createdDate'].errors['required']">Tanggal
                                                    pembuatan tidak boleh kosong.</div>
                                            </ng-container>
                                        </div>
                                        <div>
                                            <br>
                                            <h6>Silahkan pilih biaya arisan untuk grup ini: </h6>
                                            <br>
                                            <button type="button" class="btn btn-info" style="margin-left: 55px;"
                                                (click)="doClick(500000)">Rp
                                                500.000,00</button>
                                            <button type="button" class="btn btn-info" style="margin-left: 65px"
                                                (click)="doClick(1000000)">Rp
                                                1.000.000,00</button>
                                            <br>
                                            <br>
                                            <button type="button" class="btn btn-info" style="margin-left: 50px;"
                                                (click)="doClick(2000000)">Rp
                                                2.000.000,00</button>
                                            <button type="button" class="btn btn-info" style="margin-left: 55px;"
                                                (click)="doClick(3000000)">Rp
                                                3.000.000,00</button>
                                        </div>



                                        <div class="modal-footer">
                                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal"
                                                (click)="modalRef.hide()">Tutup</button>
                                            <button type="submit" class="btn btn-primary"
                                                [disabled]="!formRegisterGroup.valid">Simpan</button>
                                        </div>
                                    </form>
                                </div>
                            </ng-template>

                            <div class="card-body">
                                <div class="table-responsive">
                                    <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0"
                                        style="margin-right: 20px;">
                                        <thead>
                                            <tr>
                                                <th>ID Group</th>
                                                <th>Nama Group</th>
                                                <th>Tanggal Pembuatan</th>
                                                <th>Total Anggota</th>
                                                <th>Biaya Arisan</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr *ngFor="let member of groups">
                                                <td>{{ member.idGroup }}</td>
                                                <td>{{ member.groupName }}</td>
                                                <td>{{ member.createdDate }}</td>
                                                <td>{{ member.totalMember }}</td>
                                                <td>{{ member.totalMoney }}</td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
            </div>
        </div>
    </div>
</body>