<section class="vh-100">
    <div class="container py-5 h-100">
      <div class="row d-flex align-items-center justify-content-center h-100">
        <div class="col-md-8 col-lg-7 col-xl-6">
          <img src="https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-login-form/draw2.svg"
            class="img-fluid" alt="Phone image">
        </div>
        <div class="col-md-7 col-lg-5 col-xl-5 offset-xl-1">
          
          <form [formGroup]="formLogin" (ngSubmit)="doLogin()">
            <!-- Username input -->
            <div class="form-outline mb-4">
                <label class="form-label" for="form1Example13">Username</label>
                <input type="text" formControlName="username" [ngClass]="errorControl['username'].valid ? 'is-valid' : (errorControl['username'].dirty || errorControl['username'].touched) ? 'is-invalid' : ''" id="form1Example13" class="form-control form-control-lg" placeholder="Username" name="username" required/>
                <ng-container *ngIf="(errorControl['username'].dirty || errorControl['username'].touched) && errorControl['username'].errors">
                  <div class="text-danger" *ngIf="errorControl['username'].errors['required']">Username tidak boleh kosong.</div>
                </ng-container>
            </div>
  
            <!-- Password input -->
            <div class="form-outline mb-4">
                <label class="form-label" for="form1Example23">Password</label>
                <input type="password" formControlName="password" [ngClass]="errorControl['password'].valid ? 'is-valid' : (errorControl['password'].dirty || errorControl['password'].touched) ? 'is-invalid' : ''" id="form1Example23" class="form-control form-control-lg" placeholder="Password" name="password" required/>
                <ng-container *ngIf="(errorControl['password'].dirty || errorControl['password'].touched) && errorControl['password'].errors">
                  <div class="text-danger" *ngIf="errorControl['password'].errors['required']">Masukan password. Password minimal harus 8 huruf.</div>
                </ng-container>
            </div>
  
            <!-- Submit button -->
            <button type="submit" class="btn btn-primary btn-lg btn-block" [disabled]="!formLogin.valid">Sign in</button>
            <!-- ini batasan kalau form login ga true maka dia akan disabled -->

            <ng-container *ngIf="login == false">
              <br>
              <br>
              <div class="alert alert-danger" role="alert">
                <p>Anda bukan seorang admin, hanya admin yang dapat login melalui web</p>
              </div>
            </ng-container>
  
            <div class="divider d-flex align-items-center my-4">
              <p class="text-center fw-bold mx-3 mb-0 text-muted">ATAU</p>
            </div>

            <p>Belum memiliki akun? <a routerLink="../register">Register</a></p>
  
          </form>

        </div>
      </div>
    </div>
  </section>
