<section class="vh-100" style="background-color: #eee;">
    <div class="container h-100">
      <div class="row d-flex justify-content-center align-items-center h-100">
        <div class="col-lg-12 col-xl-11">
          <div class="card text-black" style="border-radius: 25px;">
            <div class="card-body p-md-5">
              <div class="row justify-content-center">
                <div class="col-md-10 col-lg-6 col-xl-5 order-2 order-lg-1">
  
                  <p class="text-center h1 fw-bold mb-5 mx-1 mx-md-4 mt-4">Register</p>
  
                  <form class="mx-1 mx-md-4" [formGroup]="formRegister" (ngSubmit)="doRegister()">
  
                    <div class="d-flex flex-row align-items-center mb-4">
                      <i class="fas fa-user fa-lg me-3 fa-fw"></i>
                      <div class="form-outline flex-fill mb-0">
                        <label class="form-label" for="form3Example1c">Nama Lengkap</label>
                        <input type="text" formControlName="fullName" name="fullName" [ngClass]="errorControl['fullName'].valid ? 'is-valid' : (errorControl['fullName'].dirty || errorControl['fullName'].touched) ? 'is-invalid' : ''" id="form3Example1c" class="form-control" />
                        <ng-container *ngIf="(errorControl['fullName'].dirty || errorControl['fullName'].touched) && errorControl['fullName'].errors">
                          <div class="text-danger" *ngIf="errorControl['fullName'].errors['required']">Nama lengkap tidak boleh kosong.</div>
                        </ng-container>
                      </div>
                    </div>
  
                    <div class="d-flex flex-row align-items-center mb-4">
                      <i class="fas fa-envelope fa-lg me-3 fa-fw"></i>
                      <div class="form-outline flex-fill mb-0">
                        <label class="form-label" for="form3Example3c">Username</label>
                        <input type="text" formControlName="username" name="username" [ngClass]="errorControl['username'].valid ? 'is-valid' : (errorControl['username'].dirty || errorControl['username'].touched) ? 'is-invalid' : ''" id="form3Example3c" class="form-control" />
                        <ng-container *ngIf="(errorControl['username'].dirty || errorControl['username'].touched) && errorControl['username'].errors">
                          <div class="text-danger" *ngIf="errorControl['username'].errors['required']">Username tidak boleh kosong.</div>
                        </ng-container>
                      </div>
                    </div>

                    <div class="d-flex flex-row align-items-center mb-4">
                      <i class="fas fa-envelope fa-lg me-3 fa-fw"></i>
                      <div class="form-outline flex-fill mb-0">
                        <label class="form-label" for="form3Example3c">Nomor Telepon</label>
                        <input type="text" formControlName="phoneNumber" name="phoneNumber" [ngClass]="errorControl['phoneNumber'].valid ? 'is-valid' : (errorControl['phoneNumber'].dirty || errorControl['phoneNumber'].touched) ? 'is-invalid' : ''" id="form3Example3c" class="form-control" />
                        <ng-container *ngIf="(errorControl['phoneNumber'].dirty || errorControl['phoneNumber'].touched) && errorControl['phoneNumber'].errors">
                          <div class="text-danger" *ngIf="errorControl['phoneNumber'].errors['required']">Masukan nomor telepon anda, minimal harus 8 huruf.</div>
                        </ng-container>
                      </div>
                    </div>

                    <div class="d-flex flex-row align-items-center mb-4">
                      <i class="fas fa-envelope fa-lg me-3 fa-fw"></i>
                      <div class="form-outline flex-fill mb-0">
                        <label class="form-label" for="form3Example3c">Tanggal lahir (yyyy-mm-dd)</label>
                        <input type="date" formControlName="dateOfBirth" name="dateOfBirth" id="form3Example3c" class="form-control" />
                      </div>
                    </div>  
                    
                    <div class="d-flex flex-row align-items-center mb-4">
                      <i class="fas fa-envelope fa-lg me-3 fa-fw"></i>
                      <div class="form-outline flex-fill mb-0">
                        <label class="form-label" for="form3Example3c">Jenis Kelamin</label>
                        <input type="text" formControlName="gender" name="gender" id="form3Example3c" class="form-control" />
                      </div>
                    </div>  
                    
                    <div class="d-flex flex-row align-items-center mb-4">
                      <i class="fas fa-lock fa-lg me-3 fa-fw"></i>
                      <div class="form-outline flex-fill mb-0">
                        <label class="form-label" for="form3Example4c">Password</label>
                        <input type="password" formControlName="password" name="password" [ngClass]="errorControl['password'].valid ? 'is-valid' : (errorControl['password'].dirty || errorControl['password'].touched) ? 'is-invalid' : ''" id="form3Example4c" class="form-control" />
                        <ng-container *ngIf="(errorControl['password'].dirty || errorControl['password'].touched) && errorControl['password'].errors">
                          <div class="text-danger" *ngIf="errorControl['password'].errors['required']">Masukan password. Password minimal harus 8 huruf.</div>
                        </ng-container>
                      </div>
                    </div>
  
                    <div class="d-flex flex-row align-items-center mb-4">
                      <i class="fas fa-key fa-lg me-3 fa-fw"></i>
                      <div class="form-outline flex-fill mb-0">
                        <label class="form-label" for="form3Example4cd">Ulangi password anda</label>
                        <input type="password" formControlName="repeatPass" name="repeatPass" [ngClass]="errorControl['repeatPass'].valid ? 'is-valid' : (errorControl['repeatPass'].dirty || errorControl['repeatPass'].touched) ? 'is-invalid' : ''" id="form3Example4cd" class="form-control" />
                        <ng-container *ngIf="(errorControl['repeatPass'].dirty || errorControl['repeatPass'].touched) && errorControl['repeatPass'].errors">
                          <div class="text-danger" *ngIf="errorControl['repeatPass'].errors['required']">Masukan perulangan password.</div>
                        </ng-container>
                        <ng-container *ngIf="(!confirmPass)">
                          <div class="text-danger">Pengulangan password yang anda masukan tidak sesuai dengan password anda.</div>
                        </ng-container>
                      </div>
                    </div>
  
                    <div class="form-check d-flex justify-content-center mb-5">
                      <input class="form-check-input me-2" type="checkbox" value="" id="form2Example3c" />
                      <label class="form-check-label" for="form2Example3">
                        Saya setuju dengan semua persyaratan <a href="#!">Syarat dan ketentuan</a>
                      </label>
                    </div>
  
                    <div class="d-flex justify-content-center mx-4 mb-3 mb-lg-4">
                      <button type="submit" class="btn btn-primary btn-lg" [disabled]="!formRegister.valid || !confirmPass">Register</button>
                    </div>

                    <p>Sudah memiliki akun? <a routerLink="../login">Sign In</a></p>
  
                  </form>
  
                </div>
                <div class="col-md-10 col-lg-6 col-xl-7 d-flex align-items-center order-1 order-lg-2">
  
                  <img src="https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-registration/draw1.webp"
                    class="img-fluid" alt="Sample image">
  
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>