<!-- Sidebar -->
<aside class="sidebar">
<ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion" style="margin-top: 10px;" id="accordionSidebar">

    <!-- Sidebar - Brand -->
    <!-- <a class="sidebar-brand d-flex align-items-center justify-content-center" [routerLink]="['/admin/category/profile']">
        <div class="sidebar-brand-icon rotate-n-15">
            <i class="fas fa-laugh-wink"></i>
        </div>
        <div class="sidebar-brand-text mx-3">Profile</div>
    </a> -->

    <!-- Divider -->
    <hr class="sidebar-divider my-0">

    <!-- Nav Item - Dashboard -->
    <li class="nav-item">
        <a class="nav-link" [routerLink]="['/admin/dashboard']">
            <i class="fas fa-fw fa-tachometer-alt"></i>
            <span>Dashboard</span></a>
    </li>

    <!-- Divider -->
    <hr class="sidebar-divider">

    <!-- Heading -->
    <div class="sidebar-heading">
        SubMenu
    </div>

    <!-- Nav Item -->
    <li class="nav-item">
        <a class="nav-link" [routerLink]="['/admin/category/list-users']">
            <i class="fas fa-fw fa-chart-area"></i>
            <span>Lihat Data User</span></a>
    </li>

    <!-- Nav Item - Tables -->
    <li class="nav-item">
        <a class="nav-link" [routerLink]="['/admin/category/list-groups']">
            <i class="fas fa-fw fa-table"></i>
            <span>Lihat List Grup</span></a>
    </li>

    <!-- Nav Item - Tables -->
    <li class="nav-item">
        <a class="nav-link" [routerLink]="['/admin/category/history-transaksi-user']">
            <i class="fas fa-fw fa-table"></i>
            <span>History Transaksi User</span></a>
    </li>
        
    <!-- Nav Item - Tables -->
    <li class="nav-item">
        <a class="nav-link" [routerLink]="['/admin/category/history-transaksi-group']">
            <i class="fas fa-fw fa-table"></i>
            <span>History Transaksi User Dalam Grup</span></a>
    </li>

    <!-- Divider -->
    <hr class="sidebar-divider d-none d-md-block">

    <!-- Sidebar Toggler (Sidebar)
    <div class="text-center d-none d-md-inline">
        <button class="rounded-circle border-0" id="sidebarToggle"></button>
    </div> -->

</ul>
</aside>
<!-- End of Sidebar -->