<body id="page-top">

    <!-- Page Wrapper -->
    <div id="wrapper">

        <!-- Begin Page Content -->
        <div class="container-fluid">

            <div class="card shadow mb-4" style="margin-top: 100px; margin-left: 20px; margin-right: 20px;">
                <div class="card-header py-3" style="margin-left: 15px">
                    <h3 class="m-0 font-weight-bold text-primary">List User</h3>
                    <nav>
                        <ol class="breadcrumb">
                            <li class="breadcrumb-item"><a [routerLink]="['/admin/dashboard']">Dashboard</a></li>
                            <li class="breadcrumb-item active">List User</li>
                        </ol>
                    </nav>
                </div>

                <section class="section dashboard">
                    <div class="row">
                        <div class="col-12" style="margin-top: 20px; margin-left: 10px">
                            <!-- <div class="row">
            <div class="col-12" style="margin-top: 20px; margin-left: 10px">
                <button style="margin-right: 8px; margin-bottom: 12px" type="button" class="btn btn-primary"
                    (click)="openModal(template)">
                    Add Users
                </button>

                <ng-template #template>
                    <div class="modal-header">
                        <h4 class="modal-title pull-left">Tambah User</h4>
                        <button type="button" class="btn-close close pull-right" aria-label="Close"
                            (click)="modalRef?.hide()">
                            <span aria-hidden="true" class="visually-hidden">&times;</span>
                        </button>
                    </div>

                    <div class="modal-body">
                        <form [formGroup]="formRegister" (ngSubmit)="doAddUser()" class="row g-3">
                            <div class="col-md-12">
                                <label for="inputNama" class="form-label">Nama Lengkap</label>
                                <input type="text" formControlName="fullName" class="form-control" id="inputName5" />
                            </div>
                            <div class="col-md-12">
                                <label for="inputNoHP" class="form-label">Nomor Telepon</label>
                                <input type="text" formControlName="phoneNumber" class="form-control" id="inputName5" />
                            </div>
                            <div class="col-md-6">
                                <label for="inputUsername" class="form-label">Username</label>
                                <input type="text" formControlName="username" class="form-control" id="inputUsername5" />
                            </div>
                            <div class="col-md-6">
                                <label for="inputPassword" class="form-label">Password</label>
                                <input type="password" formControlName="password" class="form-control" id="inputPassword" />
                            </div>
                            <div class="col-12">
                                <label for="inputTanggalLahir" class="form-label">Tanggal Lahir</label>
                                <input type="date" formControlName="date" class="form-control" id="inputTanggalLahir"
                                    placeholder="yyyy-mm-dd" />
                            </div>

                            <div class="col-md-6">
                                <label for="inputGender" class="form-label">Jenis Kelamin</label>
                                <input type="text" formControlName="gender" class="form-control" id="inputGender" />
                            </div>
                            <div class="col-md-12">
                                <label for="inputFile" class="form-label">Photo</label>
                                <input type="file" accept="image/png, image/jpeg, image/gif" class="form-control"
                                    id="inputFile" (change)="showPreview($event)" />
                                <ng-container *ngIf="photo">
                                    <img src="{{ photo }}" alt="" width="200" height="200" />
                                </ng-container>
                            </div>

                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal"
                                    (click)="modalRef?.hide()">Tutup</button>
                                <button type="submit" class="btn btn-primary"
                                    [disabled]="!formRegister.valid">Simpan</button>
                            </div>
                        </form>
                    </div>
                </ng-template> -->

                            <ng-template #updateData scrollable>
                                <div class="modal-header">
                                    <h4 class="modal-title pull-left"></h4>
                                    <button type="button" class="btn-close close pull-right" aria-label="Close"
                                        (click)="modalRef.hide()" (click)="doShowData(userDetail)">
                                        <span aria-hidden="true" class="visually-hidden">&times;</span>
                                    </button>
                                </div>

                                <div class="modal-body">
                                    <form [formGroup]="formRegister" (ngSubmit)="doChangePassword()" class="row g-3">
                                        <div class="col-md-12">
                                            <label for="inputNama" class="form-label">Nama Lengkap</label>
                                            <input type="text" formControlName="fullName"
                                                [ngClass]="errorControl['fullName'].valid ? 'is-valid' : (errorControl['fullName'].dirty || errorControl['fullName'].touched) ? 'is-invalid' : ''"
                                                class="form-control" id="fullName" />
                                            <ng-container
                                                *ngIf="(errorControl['fullName'].dirty || errorControl['fullName'].touched) && errorControl['fullName'].errors">
                                                <div class="text-danger"
                                                    *ngIf="errorControl['fullName'].errors['required']">
                                                    Nama
                                                    grup
                                                    tidak boleh kosong.</div>
                                            </ng-container>
                                        </div>
                                        <div class="col-md-12">
                                            <label for="inputNoHP" class="form-label">Nomor Telepon</label>
                                            <input type="text" formControlName="phoneNumber"
                                                [ngClass]="errorControl['phoneNumber'].valid ? 'is-valid' : (errorControl['phoneNumber'].dirty || errorControl['phoneNumber'].touched) ? 'is-invalid' : ''"
                                                class="form-control" id="phoneNumber" />
                                            <ng-container
                                                *ngIf="(errorControl['phoneNumber'].dirty || errorControl['phoneNumber'].touched) && errorControl['phoneNumber'].errors">
                                                <div class="text-danger"
                                                    *ngIf="errorControl['phoneNumber'].errors['required']">
                                                    Nama
                                                    grup
                                                    tidak boleh kosong.</div>
                                            </ng-container>
                                        </div>
                                        <div class="col-md-6">
                                            <label for="inputUsername" class="form-label">Username</label>
                                            <input type="text" formControlName="username"
                                                [ngClass]="errorControl['username'].valid ? 'is-valid' : (errorControl['username'].dirty || errorControl['username'].touched) ? 'is-invalid' : ''"
                                                class="form-control" id="username" />
                                            <ng-container
                                                *ngIf="(errorControl['username'].dirty || errorControl['username'].touched) && errorControl['username'].errors">
                                                <div class="text-danger"
                                                    *ngIf="errorControl['username'].errors['required']">
                                                    Nama
                                                    grup
                                                    tidak boleh kosong.</div>
                                            </ng-container>
                                        </div>
                                        <div class="col-md-6">
                                            <label for="inputPassword" class="form-label">Password</label>
                                            <input type="password" formControlName="password"
                                                [ngClass]="errorControl['password'].valid ? 'is-valid' : (errorControl['password'].dirty || errorControl['password'].touched) ? 'is-invalid' : ''"
                                                class="form-control" id="password" />
                                            <ng-container
                                                *ngIf="(errorControl['password'].dirty || errorControl['password'].touched) && errorControl['password'].errors">
                                                <div class="text-danger"
                                                    *ngIf="errorControl['password'].errors['required']">
                                                    Nama
                                                    grup
                                                    tidak boleh kosong.</div>
                                            </ng-container>
                                        </div>
                                        <div class="col-12">
                                            <label for="inputTanggalLahir" class="form-label">Tanggal
                                                Lahir</label>
                                            <input type="date" formControlName="dateOfBirth"
                                                [ngClass]="errorControl['dateOfBirth'].valid ? 'is-valid' : (errorControl['dateOfBirth'].dirty || errorControl['dateOfBirth'].touched) ? 'is-invalid' : ''"
                                                class="form-control" id="dateOfBirth" placeholder="yyyy-mm-dd" />
                                            <ng-container
                                                *ngIf="(errorControl['dateOfBirth'].dirty || errorControl['dateOfBirth'].touched) && errorControl['dateOfBirth'].errors">
                                                <div class="text-danger"
                                                    *ngIf="errorControl['dateOfBirth'].errors['required']">
                                                    Nama
                                                    grup
                                                    tidak boleh kosong.</div>
                                            </ng-container>
                                        </div>

                                        <div class="col-md-6">
                                            <label for="inputGender" class="form-label">Jenis Kelamin</label>
                                            <input type="text" formControlName="gender"
                                                [ngClass]="errorControl['gender'].valid ? 'is-valid' : (errorControl['gender'].dirty || errorControl['gender'].touched) ? 'is-invalid' : ''"
                                                class="form-control" id="gender" />
                                            <ng-container
                                                *ngIf="(errorControl['gender'].dirty || errorControl['gender'].touched) && errorControl['gender'].errors">
                                                <div class="text-danger"
                                                    *ngIf="errorControl['gender'].errors['required']">Nama
                                                    grup
                                                    tidak boleh kosong.</div>
                                            </ng-container>
                                        </div>

                                        <div class="modal-footer">
                                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal"
                                                (click)="modalRef.hide()">Tutup</button>
                                            <button type="submit" class="btn btn-primary"
                                                [disabled]="!formRegister.valid">Simpan</button>
                                        </div>
                                    </form>
                                </div>
                            </ng-template>

                            <div class="card-body">
                                <div class="table-responsive">
                                    <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                                        <thead>
                                            <tr>
                                                <th>ID User</th>
                                                <th>Username</th>
                                                <th>Nama Lengkap</th>
                                                <th>Nomor Telepon</th>
                                                <th>Tanggal Lahir</th>
                                                <th>Jenis Kelamin</th>
                                                <th>Admin</th>
                                                <th>Ubah Password Sementara</th>
                                                <!-- <th scope="col">Image</th> -->
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr *ngFor="let user of users">
                                                <td>{{ user.idUser }}</td>
                                                <td>{{ user.username }}</td>
                                                <td>{{ user.fullName }}</td>
                                                <td>{{ user.phoneNumber }}</td>
                                                <td>{{ user.dateOfBirth }}</td>
                                                <td>{{ user.gender }}</td>
                                                <td>{{ user.admin }}</td>
                                                <td align="center">
                                                    <button style="margin-right: 8px; margin-bottom: 12px;"
                                                        type="button" class="btn btn-default btn-lg"
                                                        (click)="openModal(updateData)">
                                                        <i class="bi bi-pencil-fill"></i>
                                                    </button>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
            </div>
        </div>
    </div>
</body>